<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--   <h1>Peliculas</h1>
    <ion-item *ngFor="let peliculas of dataPeliculas">
    <ion-card>
      <img src="{{peliculas.img}}"/>
      <ion-card-header>
        <ion-card-title>{{peliculas.nombre}}</ion-card-title>
        <ion-card-subtitle>Edad Minima {{peliculas.edadMax}} años</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
       {{peliculas.descripcion}}
      </ion-card-content>
      <ion-button color="tertiary" (click)="addPeliculasReservadas(peliculas)" >Ver Pelicula</ion-button>
    </ion-card>
  </ion-item> -->


  <h1>Taller Final</h1>
  <ion-item *ngFor="let task of tasks">
    <ion-card>
      <ion-card-header>
        <ion-card-title>title: {{task.title}}</ion-card-title>
        <ion-card-subtitle>body: {{task.body}} </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
       {{task.id}}
      </ion-card-content>
      <ion-button color="tertiary" (click)="addPeliculasReservadas(peliculas)" >Ver </ion-button>
    </ion-card>
  </ion-item>

  
  <ion-button expand="block" [routerLink]="['/login']"> Salir </ion-button>

</ion-content>
